# Nonaktifkan ModSecurity jika menyebabkan masalah dengan API
SecFilterEngine Off
SecFilterScanPOST Off

# --- SADIGS 3.0 ROOT CONFIGURATION ---

# Izinkan server untuk menampilkan daftar file jika tidak ada file index
Options +Indexes +FollowSymlinks

# Atur prioritas file index: cari index.html dulu, baru index.php
DirectoryIndex index.html index.php

# Pastikan Rewrite Engine nonaktif untuk menghindari konflik routing
RewriteEngine Off