# Abaikan file konfigurasi database agar settingan Laptop tidak menimpa Hostinger
sadigs_api_v3/db_connect.php

# Abaikan file log error PHP agar repo tetap bersih
*.log
error_log
php_error.log

# Abaikan file sistem
.DS_Store
.vscode/